<div class="cont-home" id="magic" ng-controller="ContentController as contentCtrl">
	<div class="cont-head-home">
			<div class="logo-home"></div>
			<a ui-sref="game" class="switch-button">
      <div class="switch-icone"></div>
          <p>PLAY</p>
          
      </a>
			<!-- <div class="title-home"></div> -->
	</div>
	<!-- <nav class="cont-nav">
		<div class="logo-arte"></div>
		<div></div>
	</nav> -->
	<div class="cont-content">
	<h2>arte creative channel</h2>
		<section class="center slider">
  			<div class="vignette" ng-repeat="v in contentCtrl.videos">

<!-- 		      		<img src="http://placehold.it/350x300?text=1"> -->
		      		<video preload="none" width="480" height="300" controls loop poster="{{v.VTU.IUR}}">
        					<source src="" dynamic-url dynamic-url-src="{{v.VSR.HTTP_EQ_1.url}}" type="video/mp4" />
    				</video>
		    	</div>
		  </section>
		<h2>la séléction explay</h2>
		  <section class="center slider">
		  	<div class="vignette vignette1">
		  		
		  	</div>
		  	<div class="vignette vignette2">
		  		
		  	</div>
		  	<div class="vignette vignette3">
		  		
		  	</div>
		  	<div class="vignette vignette4">
		  		
		  	</div>
		  	<div class="vignette vignette5">
		  		
		  	</div>
		  	<div class="vignette vignette6">
		  		
		  	</div>
		  	<div class="vignette vignette7">
		  		
		  	</div>
		  	<div class="vignette vignette8">
		  		
		  	</div>
		  	<div class="vignette vignette9">
		  		
		  	</div>
		  	<div class="vignette vignette10">
		  		
		  	</div>
		  </section>
		  <h2>live events</h2>
		  <section class="center slider">
		  	<div class="vignette vignetteL1">
		  		
		  	</div>
		  	<div class="vignette vignetteL2">
		  		
		  	</div>
		  	<div class="vignette vignetteL3">
		  		
		  	</div>
		  	<div class="vignette vignetteL4">
		  		
		  	</div>
		  	<div class="vignette vignetteL5">
		  		
		  	</div>
		  	<div class="vignette vignetteL6">
		  		
		  	</div>
		  	<div class="vignette vignetteL7">
		  		
		  	</div>
		  	<div class="vignette vignetteL8">
		  		
		  	</div>
		  	<div class="vignette vignetteL9">
		  		
		  	</div>
		  	<div class="vignette vignetteL10">
		  		
		  	</div>
		  </section>
	</div>

</div>

<!-- <script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".variable").slick({
        dots: true,
        infinite: true,
        variableWidth: true
      });
    });
  </script> -->
