<div class="cont-home">
	<div class="cont-head-home">
			<div class="logo-home"></div>
			<a ui-sref="content" class="switch-button">
      <div class="switch-icone"></div>
          <p>DISCOVER</p>
          
      </a>
			<!-- <div class="title-home"></div>
 -->	</div>
 	<div class="cont-main-game">
 		<div class="row-game">
 			<div class="gaming1 gaming"></div>
 			<div class="gaming2 gaming"></div>
 			<div class="gaming3 gaming"></div>
 			<div class="gaming4 gaming"></div>
 			<div class="gaming5 gaming"></div>
 		</div>
 		<div class="row-game">
 			<div class="gaming6 gaming"></div>
 			<div class="gaming7 gaming"></div>
 			<div class="gaming8 gaming"></div>
 			<div class="gaming9 gaming"></div>
 			<div class="gaming10 gaming"></div>
 		</div>
 		<div class="row-game">
 			
 			<div class="gaming11 gaming"></div>
 			<div class="gaming12 gaming"></div>
 			<div class="gaming13 gaming"></div>
 			<div class="gaming14 gaming"></div>
 			<div class="gaming15 gaming"></div>
 		</div>
 	</div>
</div>