<div class="cont-home" ng-controller="HomeController as homeCtrl">
	<div class="cont-head-home">
			<div class="logo-home"></div>
			<!-- <div class="title-home"></div>
 -->	</div>
<!-- <nav class="cont-nav">
	<div class="logo-arte"></div>
	<div></div>
</nav> -->
	<div class="cont-content-home">
		<!-- <div class="menu">
			<a href="../../lib/slick-master/index.html">PLAY</a>
			<a href="../../lib/slick-master/index.html">DISCOVER</a>
		</div> -->
		<!-- <div class="caroussel">
			<div class="cont-img">
				<div class="img-home img1"></div>
				<div class="img-home img2"></div>
			</div>
			<div class="cont-img">
				<div class="img-home img3"></div>
				<div class="img-home img4"></div>
			</div>
		</div> -->
		<div class="cont-img">
			<div class="img-game">
				<a ui-sref="game">PLAY</a>
			</div>
			
			<div class="img-content">
				<a ui-sref="content" ui-sref-opts="{reload: true}"> DISCOVER </a>
				<!-- <a ng-click="homeCtrl.goContent()"> DISCOVER </a> -->
			</div>
		</div>
	</div>

</div>