@font-face {
  font-family: 'gottam';
  
  src: url('../font/Gotham-Book.otf');
      
}

/*#magic .cont-nav{
	min-height: 60px;
	background-color: #202020;
}

#magic .logo-arte{
	height: 25px;
	background: url(../images/Arte_Logo.png) no-repeat center;
	background-size: cover;
	width: 100px;
}*/

#magic {
	font-family: 'gottam';
	margin: 0;
	background:linear-gradient( rgba(93,210,160,0.60), rgba(93,210,160,0.60)), url("../img/videodrome2.jpg") no-repeat;
	background-size: cover;
}

#magic .cont-content-home{
	display: flex;
	width: 100%;
}

#magic .logo-home{
	/*background:url("../img/logo-creative.png") no-repeat;
	background-size: cover;
	height: 50px;
	width: 150px;
	margin-right: 500px;*/
	margin-left: 40px;
	background:url("../img/logo.png") no-repeat;
	background-size: cover;
	height: 50px;
	width: 150px;
}

#magic .cont-head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	margin-bottom: 100px;
	height: 80px;
	background-color: #202020;
}

/*#magic .logo{
	background:url("../img/logo-creative.png") no-repeat;
	background-size: cover;
	height: 50px;
	width: 150px;
	margin-left: 40px;
}*/

/*#magic .cont-head h1{
	font-size: 50px;
	opacity: 0.8;
}*/

#magic .title-content{
	margin-left: 10%;
	color: #fa481c;
	display: flex;
	
	margin-bottom:20px;
}

#magic .slider{
	margin-top: 0px !important;
	margin-bottom: 30px !important;
	width: 90%;
	left: 5%;
}

#magic .switch-button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 120px;
	border: solid 2px rgb(93,210,160);
	background-color: #fa481c;
	color: white;
	font-size: 18px;
	cursor: pointer;
	margin-right: 40px;
}

#magic .switch-icone{
	background:url("../img/switch.png") no-repeat;
	background-size: cover;
	height: 30px;
	width: 30px;
}

#magic .switch-button p{
	padding-left: 10px;
	margin: 0px;
}

#magic .vignette {
	margin: 0 2px;
}