/*.cont-nav{
	min-height: 60px;
	background-color: #202020;
}

.logo-arte{
	height: 25px;
	background: url(../images/Arte_Logo.png) no-repeat center;
	background-size: cover;
	width: 100px;
}*/

.cont-content-home{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}


.caroussel{
	background: linear-gradient( rgba(115,159,190,0.60), rgba(115,159,190,0.60)), url("../img/cover-home.png") no-repeat ;
	background-size: cover;
	height: 80vh;
	width: 500px;
}

