<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>aCurate</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../assets/css/content.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/game.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/home.css">

	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/angular-ui-router.min.js"></script>

	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/app.config.js"></script>
</head>
<body ng-app="myApp">
	<h1>coucou</h1>
	<div ui-view></div>
</body>
</html>