<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>aCurate</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../assets/css/content.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/game.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/home.css">	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
	<!-- Slick CSS -->
	<link rel="stylesheet" type="text/css" href="../lib/slick-master/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../lib/slick-master/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/content.css">

	<!-- JS Libraries -->
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/angular-ui-router.min.js"></script>
	<!-- APP -->
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/app.config.js"></script>
	<!-- Controllers -->
	<script type="text/javascript" src="../app/controllers/TestController.js"></script>
	<script type="text/javascript" src="../app/controllers/ContentController.js"></script>
	<!-- Services -->
	<script type="text/javascript" src="../app/services/ApiFactory.js"></script>
	<!-- Directives -->
	<script type="text/javascript" src="../app/directives/dynamicUrl.js"></script>
</head>
<body ng-app="myApp">
	<div ui-view></div>

	<!-- Script slick -->
	<script src="../lib/slick-master/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/js/script.js" type="text/javascript"></script>
</body>
</html>